<form [formGroup]="formGroup" novalidate>
  <mat-grid-list cols="1" rowHeight="75">
    <mat-grid-tile>
      <mat-form-field class="login-input-width">
        <input
          matInput
          placeholder="{{ 'login.email' | translate }}"
          formControlName="email"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="login-input-width">
        <input
          type="password"
          matInput
          placeholder="{{ 'login.password' | translate }}"
          formControlName="password"
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        color="accent"
        [disabled]="formGroup.invalid"
        (click)="signIn()"
      >
        {{ "button.signIn" | translate }}
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <a [href]="googleLoginUrl">
        <img
          alt="{{ 'login.loginWithGoogle' | translate }}"
          src="assets/images/google.png"
          class="social-provider-logo"
          matTooltip="{{ 'login.loginWithGoogle' | translate }}"
        />
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</form>
