<mat-progress-bar mode="indeterminate" *ngIf="loaderService.getLoading() | async" color="accent"></mat-progress-bar>
<mat-toolbar color="primary" *ngIf="showHeader">
  <mat-toolbar-row>
    <!-- img src="assets/images/logo.png" class="logo" /-->
    <span translate>app.title</span>
    <button mat-icon-button *ngIf="permission.isAuthenticated">
      <mat-icon (click)="sidenav.toggle()" matTooltip="{{ 'app.menu.tooltip' | translate }}" color="accent">
        menu
      </mat-icon>
    </button>
    <button mat-icon-button *ngIf="!permission.isAuthenticated">
      <mat-icon matTooltip="{{ 'app.offline' | translate }}" color="accent">offline_bolt</mat-icon>
    </button>
    <span>{{ title }}</span>
    <span class="toolbar-spacer"></span>
    <span *ngIf="permission.isAuthenticated">{{ permission.username }}</span>
    <button mat-icon-button *ngIf="permission.isAuthenticated">
      <mat-icon routerLink="/user/change-password" matTooltip="{{ 'app.changePassword' | translate }}" color="accent">
        settings
      </mat-icon>
    </button>
    <button mat-icon-button *ngIf="permission.isAuthenticated">
      <mat-icon (click)="logOut()" matTooltip="{{ 'app.logout' | translate }}" color="accent">
        exit_to_app
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav *ngIf="showHeader">
    <mat-nav-list>
      <a mat-list-item (click)="navigate('/home')" *ngIf="permission.isUser">
        {{ "app.menu.home" | translate }}
      </a>
      <a mat-list-item (click)="navigate('/facebook')" *ngIf="permission.isAdmin">
        {{ "app.menu.facebook" | translate }}
      </a>
      <a mat-list-item (click)="navigate('/access-data')" *ngIf="permission.isAdmin">
        {{ "app.menu.accessData" | translate }}
      </a>
      <a mat-list-item (click)="navigate('/contact')" *ngIf="permission.isUser">
        {{ "app.menu.contact" | translate }}
      </a>
      <a mat-list-item (click)="navigate('/user')" *ngIf="permission.isAdmin">
        {{ "app.menu.user" | translate }}
      </a>
      <a mat-list-item (click)="navigate('/email')" *ngIf="permission.isAdmin">
        {{ "app.menu.email" | translate }}
      </a>
      <a mat-list-item (click)="navigate('/seller')" *ngIf="permission.isAdmin">
        {{ "app.menu.seller" | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="{{ showHeader ? 'content' : 'content-no-header' }}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>