.facebook-device-mat-expansion-panel .mat-expansion-panel-header-title,
.facebook-device-mat-expansion-panel .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.facebook-device-mat-expansion-panel .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
