<form [formGroup]="formGroup" novalidate class="main-form">
  <app-password-input [picFormControl]="oldPasswordFormControl" [picPlaceholder]="'user.oldPassword'">
  </app-password-input>
  <app-password-input [picFormControl]="newPasswordFormControl" [picPlaceholder]="'user.newPassword'">
  </app-password-input>
  <app-password-input [picFormControl]="confirmPasswordFormControl" [picPlaceholder]="'user.confirmPassword'">
  </app-password-input>
  <app-form-buttons [disabled]="formGroup.invalid" [link]="'/home'" (save)="update()" class="margin-top-20">
  </app-form-buttons>
</form>