<form [formGroup]="formGroup" novalidate class="main-form">
  <mat-form-field class="default-input-width">
    <input
      matInput
      placeholder="{{ 'user.oldPassword' | translate }}"
      formControlName="oldPassword"
    />
  </mat-form-field>
  <mat-form-field class="default-input-width">
    <input
      matInput
      placeholder="{{ 'user.newPassword' | translate }}"
      formControlName="newPassword"
    />
  </mat-form-field>
  <mat-form-field class="default-input-width">
    <input
      matInput
      placeholder="{{ 'user.confirmPassword' | translate }}"
      formControlName="confirmPassword"
    />
  </mat-form-field>
  <app-form-buttons
    [disabled]="formGroup.invalid"
    [link]="'/home'"
    (save)="update()"
    class="margin-top-20"
  ></app-form-buttons>
</form>
